
body {
background-color: teal;
border-radius: 500px;
}

#game{
    background-color:teal;
    
   
}

#userSelection
{
    background-color:teal;
    text-align: center;
    padding: 30px;
    margin: 10px; 
}

#result
{
    background-color:teal;
    colo:coral;
    text-align: center;
    padding: 30px;
    font-size: 2.0em;
}

.selection
{
    background-color:teal;
	float: left; 
	list-style: none; 
    border: 5px #FF8362  solid;
    border-radius: 15px;
     margin: 30px; 
}

.selection img
{
    background-color:teal;
	 width:     100px; 
     padding: 10px;
}

button
{
    background-color: #FF8362 ;
    color: white;
	border-radius: 10px;
	font-size: 100%;
}

